<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>HACK 2016</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<!--The beginning of the site-->
<body>
	<div class = "row valign-wrapper">
		<div class = "col s3 left-align "> 
			<img class = "logo_location"src = "http://placehold.it/295x120" alt"logo">
		</div>
		<div class = "col s9 right-align">
			<a class = "header_home" href = "index.html" > Tartan Health </a>
		</div>
	</div>
	
	<hr>

	<div class = "row "> 

		<!--SIDEBAR-->
		<div class = "col s3 left-align">
			<nav class = "center teal lighten-2 ">
			  <ul class="hide-on-med-and-down">
			    <li><a href="#1"> Title </a> </li>
			  </ul>
			</nav>
			<nav>
			  <ul class="hide-on-med-and-down ">
			    <li><a href="#2"> link2 </a>  </li>
			  </ul>
			</nav>
			<nav>
			  <ul class="hide-on-med-and-down">
			    <li><a href="#3"> link3 </a>  </li>
			  </ul>
			</nav>
			<nav>
			  <ul class="hide-on-med-and-down">
			    <li><a href="#4"> link4 </a>  </li>
			  </ul>
			</nav>
			<nav>
			  <ul class="hide-on-med-and-down">
			    <li><a href="#5"> link5 </a>  </li>
			  </ul>
			</nav>
			<nav>
			  <ul class="hide-on-med-and-down">
			    <li><a href="#6"> link6 </a>  </li>
			  </ul>
			</nav>
			<nav>
			  <ul class="hide-on-med-and-down">
			    <li><a href="#7"> link7 </a>  </li>
			  </ul>
			</nav>
		</div>

		
		<!--CONTENT-->
		<div class = "col s9 container">
			<div class = "row"> 
				<div class = "col s1">
					<h3></h3>
				</div>
				<div class = "col s10">
					<div>
						<a class  = "title_link" href = "#!" > Title1 </a>
						<img src = "http://placehold.it/750x300" alt"content1">
					</div>
					<div>
						<a class  = "title_link" href = "#!!"> Title2 </a>
						<img src = "http://placehold.it/750x300" alt"content2">
					</div>
					
				</div>
				<div class = "col s1">
					<h3></h3>
				</div>
			</div>
		</div>

	</div>










